.flex-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex: 6;
	background-color: #D9E7D9;
}

.row {
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.item {
    display: flex;
	height: 200px;
	width: 200px;
	margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#whole_thing {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
#footer {
	background-color: #E8E6E6;
	width: auto;
	height: 40px;
	display: flex;
	flex-direction: row;
}

.larger {
	background-color: #E7D9D9;
	margin: 10px;
	flex: 2;
	display: flex;
	align-items: center;
}

.smaller {
	background-color: #E7D9D9;
	margin: 10px;
	flex: 1;
}

#main {
	display: flex;
	flex-direction: row;
}

#information {
	display: flex;
	flex-direction: column;
	flex: 4;
	border: 3px inset; black;
}

#select {
	display:flex;
	justify-content: center;
	flex: 3;
	margin: 5px;
}

#name {
	display:flex;
	flex: 2;
	margin: 5px;
	justify-content: center;
}

#thirdthing {
	display: flex;
	flex: 2;
	margin: 5px;
	background-color: #E4DDDD;
}

img {
	border: inset 3px #D9E7D9;
	height:160px;
}

p {
	font-size: 20px;
	margin: 10px;
}

#mainimage {
	border: white;
	height: 400px;

}

#mainname {
	font-size: 50px;
	font-weight: bold;
}

#maininfo {
	font-size: 18px;
	text-align: center;
}

#footername {
	font-size: 15px;
	margin-top 5px
}