div {
	border: 2px green solid;
}

#header {
	height: 100px;
	width:auto;
	text-align: center;

}

#game {
	height: 625px;
	width:auto;
	background-color: #5E875E;
	background-image: url("https://media.istockphoto.com/id/1218354234/vector/poker-table-background-in-green-color.jpg?s=612x612&w=0&k=20&c=h5ub96YRuOOMbLeBMPgQ4tnvgg7HFrJDo96jXQBoVtQ=");
}

#everything {
	display:flex;
	flex-direction: column;
}

#game {
	display:flex;
	flex-direction: column;
}

#row1, #row2, #row3, #row4, #row5 {
	display:flex;
	flex-direction: row;
	height: 200px;
}

#options {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border: 0px;
	
	height: 200px;
	align-self: center;
	width: 105px;

}

#hit, #stand, #reset {
	height: 50px;
	width: 100px;
	background-color: blue;
}

#playercard1, #playercard2, #dealercard1, #dealercard2 {
	height: 150px;
	width: 100px;
	margin: 25px;
	background-color: red;
	border-radius: 10px;
	align-self: center;
}

#row5 {
	
	height: 250px;
}

#fiveleft {
	display:flex;
	flex: 4;
	justify-content: center;
}

#fiveright {
	flex: 3;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

#row4, #row1 {
	height:50px;
	justify-content: space-between;
}

#row3 {
	justify-content: flex-end;
	height: auto;
}

#row2 {
	justify-content: center;
	height: 250px;
}

#player, #dealer, .score {
	width: 200px;
	background-color: ;
}



p {
	text-align:center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
}

#messages {
	width:200px;
	border: 3px inset;
	height: auto;
	align-self: center;

}

button {
	background-color: blue;
	height:50px;
	width: 100px;
	font-size: 20px;
}



