h1 {
	background-color: #FFB9B7;
}

ul {
	color: red;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

ul {
  font-family: "Courier New", monospace;
}

h1 {border-style: dotted;}

img {border-style: groove;}

